@import '../../style/default.less';
input:-internal-autofill-selected  {
    background: rgba(60, 120, 121, .14);
}
.login-page{
    width: 100vw;
    height: 100vh;
    background: url('../../images/login-bg@2x.png');
    background-size: cover;
    .login-area {
      text-align: center;
      width: 600px;
      margin: 0 auto;

      .ant-form-item-label > label {
        color: #fff;
      }
      .logo {
         padding-top: 200px;      
      } 
      .username {
          width: 400px;
          border-radius: 25px;
          background: rgba(60, 120, 121, .14);
          height: 50px;
          line-height: 50px;
          border: none;
          outline: none;
      }
      .password {
          width: 400px;
          border-radius: 25px;
          height: 50px;
          line-height: 50px;
          background: rgba(60, 120, 121, .14);
          border: none;
          outline: none;
        
      }
      .title {
          font-size: 12px;
          color: #fff;
          padding: 30px 0;
      }
    }
}
  