.register-page {
    width: 100vw;
    min-height: 100vh;
    background: url('../../images/regisyer-bg@2x.png');
    background-size: cover;
    .logo {
        padding: 42px 0 0 72px;
    }
    .content {
        padding-top: 60px;
        padding-bottom: 120px;
        .register-area {
            width: 718px;
            height: 780px;
            background: url('../../images/register-area-bg@2x.png');
            background-size: cover;
            margin: 0 auto;
            .title-3 {
                font-size: 30px;
                color: #000;
                text-align: center;
                padding: 32px 0 12px;
            }
            .title-5 {
                font-size: 14px;
                color: #000;
                text-align: center;
                padding-bottom: 26px;
            }
            .submit-btn {
                width: 100%;
            }
            .login-btn {
                width: 100%;
            }
            .blue-color {
                color: #17DAA3;
            }
        }
    }
    .ant-form-item {
        width: 466px;
        margin-left: auto;
        margin-right: auto;
    }
    .ant-form-item:last-child {
        margin-bottom: 0;
    }
}